[submodule "Prophecy/Prophecy/vendor/glfw"]
	path = Prophecy/Prophecy/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Prophecy/Prophecy/vendor/spdlog"]
	path = Prophecy/Prophecy/vendor/spdlog
	url = https://github.com/gabime/spdlog
