[submodule "Prophecy/vendor/glfw"]
	path = Prophecy/vendor/glfw
	url = https://github.com/glfw/glfw
	branch = v1.x
[submodule "Prophecy/vendor/spdlog"]
	path = Prophecy/Prophecy/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = master
